* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* ------------------------Login Page---------------------------- */

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 300px;
  background-color: rgb(255, 255, 255);
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  border-radius: 8px;
}

.ant-input-affix-wrapper {
  border-radius: 0px;
  background-color: #fff !important;
}

/* ------------------------Signup Page---------------------------- */

.signup-card {
  background-color: rgb(255, 255, 255);
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sign-field {
  border-radius: 5px;
}

/* ------------------------Navbar---------------------------- */

.row {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: 60px;
  letter-spacing: 3px;
  font-size: 28px;
  font-weight: 700;
  background: -webkit-linear-gradient(#1677ff, #1677ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.exam-card {
  width: 300px;
  padding: 0px 0px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  background-color: #1677ff;
  position: relative;
  transition: all 200ms ease-in;
  transform: scale(1);
  cursor: pointer;
}

.exam-card:hover {
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.03);
}

.exam-card:hover .header-card {
  opacity: 0.8;
}

.header-card {
  width: 100%;
  height: 100px;
  border-radius: 8px 8px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  background-color: #808080;
}

@media screen and (max-width: 800px) {
  .logo {
    padding-left: 40px;
  }
}
